.product_image {
  background-color: #f7f8fa;
}
.desc {
  width: 540px;
  margin-top: 22px;
  color: #272727;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.9px;
}
.desc2 {
  margin-top: 22px;
  color: #56b280;
  font-size: 20px;
  font-weight: 700;
}
