.header {
  background-color: #fff;
}
.header__container {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.divider {
  height: 0.5px;
  background-color: rgba(86, 178, 128, 0.2);
}
